$red-colour: #BC2026;
$yellow-colour: #DFCA4E;
$dark-brown-colour: #1A1717;
$black-color: #110e0e;
$rating-box-colour: rgb(27, 24, 24 , 0.6);
$background-colour: rgb(26,23,23);
$background-gradient: linear-gradient(0deg, rgba(26,23,23,1) 0%, rgba(60,48,48,1) 50%, rgba(26,23,23,1) 100%);
$shadow: 0px 0px 40px 20px rgba(26,23,23,0.8);
$hover-shadow: 0px 0px 35px 10px rgba(223,202,78,0.5);
$mobile-margin: 1rem;